<div class = "blog-card">
    <div class = "blog-title">
        {{title}}
    </div>
    <div class="comment_text">
        <p>
            Comment:
            {{comment_text}}
        </p>
        <p>
            User Name:
            {{username}}
        </p>
        <p>
            Date Posted:
            {{created_date}}
        </p>

    </div>
</div>