{{#each blogs as |blog| }}

<div class="row align-center mb-5">

    <a href="/editblog?id={{blog.id}}">
        <div class="col-md-6">
            <h2>{{blog.title}}</h2>

        </div>
        <div class="col-md-6">
            <h3>{{blog.created_date}}</h3>
        </div>
    </a>
</div>
{{/each}}
<div class="row align-center mb-5">

    <div class="col-md-6">
        <label for="blogtitle">Blog Title</label>
        <input id="blogtitle" />

    </div>
    <div class="col-md-6">
        <label for="blogcontent">Blog Content</label>
        <input id="blogcontent" />
    </div>
</div>
<div class="row align-center mb-5">
    <div class="col-md-12">
        <button id="createblog">Create Blog</button>
    </div>
    
</div>
<script src="/js/create.js"></script>