<div class="row align-center mb-5">

    <div class="col-md-6">
        <label for="blogtitle">Blog Title</label>
        <input id="blogtitle" />

    </div>
    <div class="col-md-6">
        <label for="blogcontent">Blog Content</label>
        <input id="blogcontent" />
    </div>
</div>
<div class="row align-center mb-5">
    <div class="col-md-12">
        <button id="editblog">Edit Blog</button>
    </div>
    <div class="col-md-12">
        <button id="deleteblog"> Delete Blog</button>
    </div>
</div>